* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s ease;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUILight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUIRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUISemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUISemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUIBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.content {
  max-width: 1752px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI";
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
body.light-theme {
  background: #F4F4F5;
  color: #18232A;
}
body.dark-theme {
  background: #18232A;
  color: #fff;
}
body.dark-theme .header .content .header-container {
  background: #25353F;
}
body.dark-theme .header .content .header-container .logo-column .logo {
  display: none;
}
body.dark-theme .header .content .header-container .logo-column .dark-theme-logo {
  display: block;
}
body.dark-theme .header .content .header-container .logo-column .description {
  color: #fff;
}
body.dark-theme .header .content .header-container .logo-column .line {
  width: 1px;
  height: 40px;
  flex-shrink: 0;
  background: #D5D8DA;
}
body.dark-theme .header .content .header-container .logo-column .phone-container span {
  color: #828E96;
}
body.dark-theme .header .content .header-container .logo-column .phone-container a {
  color: #fff;
}
body.dark-theme .header .content .header-container .logo-column .phone-container .phone-select.active {
  background: #25353F;
}
body.dark-theme .header .content .header-container .logo-column .phone-container .phone-select.active .ph-select p {
  color: #fff;
}
body.dark-theme .header .content .header-container .logo-column .phone-container .phone-select .ph-select p {
  color: #fff;
}
body.dark-theme .header .content .header-container .logo-column .phone-container .phone-select .phone-select-wrapper {
  background: #25353F;
}
body.dark-theme .header .content .header-container .logo-column .phone-container .phone-select .phone-select-wrapper a {
  color: #fff;
}
body.dark-theme .header .content .header-container .nav a {
  color: #fff;
}
body.dark-theme .header .content .header-container .nav .phone-btn {
  background: #828E96;
}
body.dark-theme .header .content .header-container .nav .burger-btn .line {
  background: #fff;
}
body.dark-theme .header .content .header-container .nav .theme-mode .mode-icon {
  display: none;
}
body.dark-theme .header .content .header-container .nav .theme-mode .mode-icon:hover svg path {
  fill: #FF0033;
}
body.dark-theme .header .content .header-container .nav .theme-mode .mode-icon.active {
  cursor: pointer;
  display: block;
}
body.dark-theme .mobile-menu {
  background: #25353F;
}
body.dark-theme .mobile-menu .mobile-menu-container .mobile-menu-body .line {
  height: 1px;
  width: 100%;
  background: #C1C8CD;
  flex-shrink: 0;
}
body.dark-theme .mobile-menu .mobile-menu-container .mobile-menu-body .nav-link {
  color: #fff;
}
body.dark-theme .mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .phone-inner ul li a {
  color: #fff;
}
body.dark-theme .mobile-menu .mobile-menu-container .mobile-menu-body .lang-container span {
  color: #fff;
}
body.dark-theme .hero-block {
  background-image: url("./assets/images/hero-dark.png");
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container {
    position: relative;
    height: 235px;
  }
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right center;
}
@media (max-width: 768px) {
  body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img {
    object-position: center;
  }
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.light-theme-swiper-image {
  display: none;
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-swiper-image {
  display: block;
}
@media (max-width: 768px) {
  body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-swiper-image {
    display: none;
  }
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.light-theme-mob-swiper-image {
  display: none;
}
@media (max-width: 768px) {
  body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.light-theme-mob-swiper-image {
    display: none;
  }
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-mob-swiper-image {
  display: none;
}
@media (max-width: 768px) {
  body.dark-theme .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-mob-swiper-image {
    display: block;
  }
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .content .text-content .title-row h2 {
  color: #fff;
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .content .text-content .title-row span {
  color: #fff;
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .content .text-content p {
  color: #fff;
}
body.dark-theme .hero-block .hero-swiper .swiper-slide .content .text-content a:hover {
  background: transparent;
}
body.dark-theme .advantages-block .content h2 {
  color: #29363F;
}
@media (max-width: 768px) {
  body.dark-theme .advantages-block .content h2 {
    color: #29363F;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(130, 142, 150, 0.58);
    font-family: "Segoe UI";
    font-size: 40px;
  }
}
body.dark-theme .advantages-block .content .advantages-swiper {
  width: 100%;
  padding: 10px 0;
}
body.dark-theme .advantages-block .content .advantages-swiper .swiper-slide {
  border-radius: 40px;
  background: #1C2931;
  box-shadow: 0px 14px 39.8px -19px #F03;
}
body.dark-theme .advantages-block .content .advantages-swiper .swiper-slide p {
  color: #fff;
}
body.dark-theme .new-products .content .title-row .title h2 {
  color: #fff;
}
body.dark-theme .new-products .content .title-row .title p {
  color: #fff;
}
body.dark-theme .new-products .content .title-row .title .icon svg path {
  fill: #FF0033;
}
body.dark-theme .new-products .content .title-row .link-container .icon {
  background: #fff;
}
body.dark-theme .new-products .content .title-row .link-container .icon svg path {
  fill: #18232A;
}
body.dark-theme .new-products .content .title-row .link-container .link-text {
  color: #fff;
}
body.dark-theme .new-products .content .new-products-list li {
  background: #1C2931;
}
body.dark-theme .new-products .content .new-products-list li:hover {
  background: #29363F;
}
body.dark-theme .new-products .content .new-products-list li:hover .img img {
  transition: 1s ease;
  transform: scale(1.1);
}
body.dark-theme .new-products .content .new-products-list li:hover .img .product-name {
  background: #FFFFFF;
}
body.dark-theme .new-products .content .new-products-list li:hover .img .product-name p {
  color: #FF0033;
}
@media (max-width: 768px) {
  body.dark-theme .new-products .content .new-products-list li .info {
    background: #29363F;
  }
}
body.dark-theme .new-products .content .new-products-list li .info .params-list .params-card .params-card-info p {
  color: #fff;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .price-btn {
  background: #1C2931;
  box-shadow: 0px 7px 22px -15px rgba(0, 0, 0, 0.25);
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .price-btn:hover {
  background: #FF0033;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .price-btn:hover .text {
  color: #FFFFFF;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .price-btn .text {
  color: #fff;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .product-link {
  background: #1C2931;
}
@media (max-width: 768px) {
  body.dark-theme .new-products .content .new-products-list li .info .buttons .product-link {
    background: #1C2931;
    width: fit-content;
  }
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .product-link:hover {
  background: transparent;
  box-shadow: none;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .product-link:hover .text {
  color: #FF0033;
}
body.dark-theme .new-products .content .new-products-list li .info .buttons .product-link:hover .icon svg path {
  fill: #FF0033;
}

@media (max-width: 1350px) {
  .header .content {
    padding: 0;
  }
}
.header .content .header-container {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  border-radius: 0px 0px 40px 40px;
  background: #FFF;
}
@media (max-width: 1350px) {
  .header .content .header-container {
    padding: 10px 20px;
  }
}
.header .content .header-container .logo-column {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1350px) {
  .header .content .header-container .logo-column {
    gap: 20px;
  }
}
@media (max-width: 1130px) {
  .header .content .header-container .logo-column .logo img {
    width: 60px;
    height: 54px;
  }
}
.header .content .header-container .logo-column .dark-theme-logo {
  display: none;
}
@media (max-width: 1130px) {
  .header .content .header-container .logo-column .dark-theme-logo img {
    width: 60px;
    height: 54px;
  }
}
.header .content .header-container .logo-column .description {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
}
@media (max-width: 1130px) {
  .header .content .header-container .logo-column .description {
    display: block;
  }
}
.header .content .header-container .logo-column .line {
  width: 1px;
  height: 40px;
  flex-shrink: 0;
  background: #D5D8DA;
}
@media (max-width: 1130px) {
  .header .content .header-container .logo-column .line {
    display: none;
  }
}
.header .content .header-container .logo-column .phone-container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1130px) {
  .header .content .header-container .logo-column .phone-container {
    display: none;
  }
}
.header .content .header-container .logo-column .phone-container span {
  color: #828E96;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header .content .header-container .logo-column .phone-container a {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .content .header-container .logo-column .phone-container .phone-select {
  position: relative;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.header .content .header-container .logo-column .phone-container .phone-select.active {
  background: #fff;
}
.header .content .header-container .logo-column .phone-container .phone-select.active .ph-select {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .content .header-container .logo-column .phone-container .phone-select.active .ph-select.active::after {
  transform: rotate(180deg);
}
.header .content .header-container .logo-column .phone-container .phone-select.active .ph-select p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.header .content .header-container .logo-column .phone-container .phone-select .ph-select {
  display: flex;
}
.header .content .header-container .logo-column .phone-container .phone-select .ph-select p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .content .header-container .logo-column .phone-container .phone-select .ph-select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M8.16749 10.3727C8.39065 10.1286 8.75245 10.1286 8.97561 10.3727L12.0001 13.6808L15.0246 10.3727C15.2478 10.1286 15.6096 10.1286 15.8328 10.3727C16.0559 10.6168 16.0559 11.0125 15.8328 11.2566L12.4042 15.0066C12.181 15.2507 11.8192 15.2507 11.5961 15.0066L8.16749 11.2566C7.94433 11.0125 7.94433 10.6168 8.16749 10.3727Z' fill='%23FF0033'/%3E%3C/svg%3E");
  display: block;
  transition: 0.3s ease;
}
.header .content .header-container .logo-column .phone-container .phone-select .phone-select-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  flex-direction: column;
  align-items: flex-start;
  z-index: 11;
  gap: 10px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 8px 9.2px -7px rgba(0, 0, 0, 0.25);
  display: none;
}
.header .content .header-container .logo-column .phone-container .phone-select .phone-select-wrapper.active {
  display: flex;
}
.header .content .header-container .logo-column .phone-container .phone-select .phone-select-wrapper a {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline;
  width: unset;
  height: unset;
}
.header .content .header-container .nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1350px) {
  .header .content .header-container .nav {
    gap: 20px;
  }
}
.header .content .header-container .nav a {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .content .header-container .nav a.nav-link:hover {
  color: #FF0033;
}
@media (max-width: 1130px) {
  .header .content .header-container .nav a.nav-link {
    display: none;
  }
}
.header .content .header-container .nav .lang {
  cursor: pointer;
  border-radius: 15px;
  background: #828E96;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex-shrink: 0;
}
@media (max-width: 1130px) {
  .header .content .header-container .nav .lang {
    display: none;
  }
}
.header .content .header-container .nav .lang:hover {
  background: #18232A;
}
.header .content .header-container .nav .theme-mode {
  display: flex;
  align-items: center;
}
@media (max-width: 1130px) {
  .header .content .header-container .nav .theme-mode {
    display: none;
  }
}
.header .content .header-container .nav .theme-mode .mode-icon {
  display: none;
}
.header .content .header-container .nav .theme-mode .mode-icon.active {
  cursor: pointer;
  display: block;
}
.header .content .header-container .nav .phone-btn {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: #18232A;
  width: 54px;
  height: 54px;
  display: none;
}
@media (max-width: 1350px) {
  .header .content .header-container .nav .phone-btn {
    display: flex;
  }
}
.header .content .header-container .nav .burger-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1130px) {
  .header .content .header-container .nav .burger-btn {
    display: flex;
  }
}
.header .content .header-container .nav .burger-btn:hover .line {
  background: #F03;
}
.header .content .header-container .nav .burger-btn .line {
  width: 36px;
  height: 2px;
  border-radius: 10px;
  background: #18232A;
}
.header .content .header-container .nav .burger-btn .line:last-child {
  width: 24px;
}

.mobile-menu {
  height: 100vh;
  max-width: 450px;
  width: 100%;
  position: fixed;
  transition: right 0.5s linear, opacity 0.2s ease;
  top: 0;
  right: -200%;
  z-index: 20;
  opacity: 0;
  background: #F4F4F5;
}
.mobile-menu.active {
  transition: right 0.5s linear, opacity 0.2s ease;
  right: 0;
  opacity: 1;
}
.mobile-menu .mobile-menu-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 50px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
  overflow-y: auto;
  position: relative;
}
.mobile-menu .mobile-menu-container .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.mobile-menu .mobile-menu-container .mobile-menu-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .line {
  height: 1px;
  width: 100%;
  background: #C1C8CD;
  flex-shrink: 0;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .nav-link {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .chapter {
  color: #828E96;
  font-family: "Segoe UI";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .phone-inner {
  display: flex;
  gap: 10px;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .phone-inner .country {
  padding-top: 9px;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .phone-inner ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .phone-container .phone-inner ul li a {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .callback-btn {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 15px;
  background: #F03;
  border: none;
  cursor: pointer;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .callback-btn span {
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}
.mobile-menu .mobile-menu-container .mobile-menu-body .lang-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .lang-container span {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .lang-container .lang {
  border-radius: 15px;
  background: #ECECEE;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .lang-container .lang:hover {
  background: #18232A;
  color: #fff;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .lang-container .lang.active {
  background: #18232A;
  color: #fff;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .theme-button {
  border-radius: 15px;
  background: #18232A;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border: none;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .theme-button .theme-button-text {
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .theme-button .mode-icon {
  display: flex;
  align-items: center;
  display: none;
}
.mobile-menu .mobile-menu-container .mobile-menu-body .theme-button .mode-icon.active {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: none;
  padding: 0 25px;
}
.overlay.open {
  display: block;
}

.hero-block {
  height: 860px;
  width: 100%;
  background-image: url("./assets/images/hero-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}
@media (max-width: 1130px) {
  .hero-block {
    height: 650px;
  }
}
@media (max-width: 1024px) {
  .hero-block {
    background-image: none;
  }
}
@media (max-width: 768px) {
  .hero-block {
    height: unset;
  }
}
.hero-block .hero-swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-block .hero-swiper .swiper-slide {
  position: relative;
}
.hero-block .hero-swiper .swiper-slide.swiper-slide-active .content .text-content {
  top: 50%;
  transition: 0.8s ease;
}
.hero-block .hero-swiper .swiper-slide .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media (max-width: 1024px) {
  .hero-block .hero-swiper .swiper-slide .img-container {
    position: relative;
    height: 235px;
  }
}
.hero-block .hero-swiper .swiper-slide .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right center;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .img-container img {
    object-position: center;
  }
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .img-container img.light-theme-swiper-image {
    display: none;
  }
}
.hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-swiper-image {
  display: none;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-swiper-image {
    display: none;
  }
}
.hero-block .hero-swiper .swiper-slide .img-container img.light-theme-mob-swiper-image {
  display: none;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .img-container img.light-theme-mob-swiper-image {
    display: block;
  }
}
.hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-mob-swiper-image {
  display: none;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .img-container img.dark-theme-mob-swiper-image {
    display: none;
  }
}
.hero-block .hero-swiper .swiper-slide .content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100%;
}
@media (max-width: 1024px) {
  .hero-block .hero-swiper .swiper-slide .content {
    height: unset;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  max-width: 680px;
  position: absolute;
  top: -50%;
  left: 16px;
  transform: translateY(-50%);
  transition: 0.8s ease;
}
@media (max-width: 1130px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content {
    max-width: 480px;
    gap: 60px;
  }
}
@media (max-width: 1024px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content {
    position: relative;
    top: unset;
    left: unset;
    gap: 30px;
    transform: unset;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content .title-row {
  display: flex;
  flex-direction: column;
}
.hero-block .hero-swiper .swiper-slide .content .text-content .title-row h2 {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1130px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content .title-row h2 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content .title-row h2 {
    font-size: 50px;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content .title-row span {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1130px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content .title-row span {
    font-size: 40px;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1130px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content p {
    font-size: 25px;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content a {
  border-radius: 30px;
  background: #F03;
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 20px;
  width: fit-content;
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1130px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content a {
    padding: 20px;
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .swiper-slide .content .text-content a {
    width: 100%;
    border-radius: 15px;
    justify-content: center;
  }
}
.hero-block .hero-swiper .swiper-slide .content .text-content a .arrow {
  display: flex;
  align-items: center;
}
.hero-block .hero-swiper .swiper-slide .content .text-content a:hover {
  background: #FFFFFF;
  color: #F03;
}
.hero-block .hero-swiper .swiper-slide .content .text-content a:hover svg path {
  fill: #F03;
}
.hero-block .hero-swiper .navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container {
    position: static;
    height: unset;
    padding: 30px 0;
  }
}
.hero-block .hero-swiper .navigation-container .content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-top: 170px;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container .content {
    padding-top: 0;
    justify-content: center;
    height: unset;
  }
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation {
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container .content .custom-hero-navigation {
    flex-direction: row;
  }
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .arrow {
  display: flex;
  cursor: pointer;
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .arrow {
    transform: rotate(0);
  }
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .arrow:hover svg path {
  fill: #F03;
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 24px;
  height: 143px;
  flex-shrink: 0;
  justify-content: space-between;
  position: relative;
  bottom: unset;
  top: unset;
  left: unset;
  right: unset;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination {
    flex-direction: row;
    height: 24px;
    width: 143px;
  }
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: #828E96;
  z-index: -1;
}
@media (max-width: 768px) {
  .hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination:before {
    width: 100%;
    height: 2px;
  }
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination .swiper-pagination-bullet {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 2px solid #828E96;
  background: #FFFFFF;
  opacity: 1;
  position: relative;
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination .swiper-pagination-bullet:before {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50px;
  background: #FF0033;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination .swiper-pagination-bullet:hover {
  width: 18px;
  height: 18px;
  border: 2px solid #D5D8DA;
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination .swiper-pagination-bullet:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
.hero-block .hero-swiper .navigation-container .content .custom-hero-navigation .custom-hero-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
  height: 24px;
  border-radius: 46px;
  background: #FF0033;
  border: 2px solid #FF0033;
}

.advantages-block .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 768px) {
  .advantages-block .content {
    gap: 30px;
  }
}
.advantages-block .content h2 {
  color: #FCFCFC;
  font-family: "Segoe UI";
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 80%;
}
@media (max-width: 768px) {
  .advantages-block .content h2 {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(130, 142, 150, 0.58);
    font-family: "Segoe UI";
    font-size: 40px;
  }
}
.advantages-block .content .advantages-swiper {
  width: 100%;
  padding: 10px 0;
}
.advantages-block .content .advantages-swiper .swiper-slide {
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0px 20px 35.5px -27px rgba(130, 142, 150, 0.5);
  height: 390px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
@media (max-width: 768px) {
  .advantages-block .content .advantages-swiper .swiper-slide {
    padding: 30px;
    height: 325px;
  }
}
.advantages-block .content .advantages-swiper .swiper-slide span {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #F03;
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.advantages-block .content .advantages-swiper .swiper-slide p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .advantages-block .content .advantages-swiper .swiper-slide p {
    font-size: 20px;
  }
}

.contact-row .content .contact-container {
  display: flex;
  padding: 50px;
  align-items: center;
  gap: 50px;
  flex: 1 0 0;
  border-radius: 40px;
  background: #828E96;
}
@media (max-width: 1280px) {
  .contact-row .content .contact-container {
    padding: 30px;
  }
}
.contact-row .content .contact-container form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contact-row .content .contact-container form {
    flex-direction: column;
  }
}
.contact-row .content .contact-container form p {
  color: #D5D8DA;
  text-shadow: 3px 4px 4px rgba(24, 35, 42, 0.15);
  font-family: "Segoe UI";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 47px */
}
@media (max-width: 1130px) {
  .contact-row .content .contact-container form p {
    color: #D5D8DA;
    text-shadow: 3px 4px 4px rgba(24, 35, 42, 0.15);
    font-family: "Segoe UI";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 94%; /* 37.6px */
  }
}
.contact-row .content .contact-container form input {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid #B9C0C5;
  background: #929EA6;
  max-width: 396px;
  width: 100%;
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  outline: none;
}
@media (max-width: 768px) {
  .contact-row .content .contact-container form input {
    max-width: 100%;
  }
}
.contact-row .content .contact-container form input::placeholder {
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
}
.contact-row .content .contact-container form button {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: #F03;
  border: none;
  cursor: pointer;
  height: 64px;
  justify-content: center;
  width: fit-content;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .contact-row .content .contact-container form button {
    width: 100%;
  }
}
.contact-row .content .contact-container form button span {
  color: #FFF;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
}

.new-products {
  padding: 75px 0;
}
@media (max-width: 768px) {
  .new-products {
    padding: 30px 0;
  }
}
.new-products .content {
  display: flex;
  flex-direction: column;
  gap: 75px;
}
@media (max-width: 768px) {
  .new-products .content {
    padding: 0;
    gap: 30px;
  }
}
.new-products .content .title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .new-products .content .title-row {
    padding: 0 16px;
  }
}
.new-products .content .title-row .title {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .new-products .content .title-row .title {
    flex-direction: column;
    width: 100%;
  }
}
.new-products .content .title-row .title h2 {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 25px;
  font-style: normal;
  font-weight: 350;
  line-height: 94%; /* 23.5px */
}
.new-products .content .title-row .title .line {
  width: 1px;
  height: 24px;
  background: #828E96;
}
@media (max-width: 768px) {
  .new-products .content .title-row .title .line {
    width: 100%;
    height: 1px;
  }
}
.new-products .content .title-row .title p {
  color: #828E96;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
@media (max-width: 768px) {
  .new-products .content .title-row .title p {
    text-align: center;
  }
}
.new-products .content .title-row .link-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .new-products .content .title-row .link-container {
    display: none;
  }
}
.new-products .content .title-row .link-container:hover .icon {
  border-radius: 30px;
  background: #F03;
}
.new-products .content .title-row .link-container .icon {
  border-radius: 15px;
  background: #18232A;
  flex-shrink: 0;
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 20px;
}
.new-products .content .title-row .link-container .link-text {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.new-products .content .new-products-list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list {
    gap: 0;
  }
}
.new-products .content .new-products-list li {
  max-width: calc((100% - 50px) / 2);
  width: 100%;
  border-radius: 40px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .new-products .content .new-products-list li {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li {
    height: 640px;
    position: relative;
  }
}
.new-products .content .new-products-list li:hover {
  background: #ECECEE;
}
.new-products .content .new-products-list li:hover .img img {
  transition: 1s ease;
  transform: scale(1.1);
}
.new-products .content .new-products-list li:hover .img .product-name {
  background: #FFFFFF;
}
.new-products .content .new-products-list li:hover .img .product-name p {
  color: #FF0033;
}
.new-products .content .new-products-list li .img {
  display: flex;
  height: 530px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  background: #828E96;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .new-products .content .new-products-list li .img {
    height: 350px;
  }
}
.new-products .content .new-products-list li .img img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: 1s ease;
}
.new-products .content .new-products-list li .img .product-name {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6.5px);
  display: flex;
  padding: 20px 40px;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .img .product-name {
    display: none;
  }
}
.new-products .content .new-products-list li .img .product-name p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 39px */
}
.new-products .content .new-products-list li .info {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .info {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    background: #ECECEE;
    width: 100%;
  }
}
.new-products .content .new-products-list li .info .params-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .info .params-list {
    flex-direction: column;
  }
}
.new-products .content .new-products-list li .info .params-list .params-card {
  display: flex;
  max-width: 160px;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .info .params-list .params-card {
    max-width: 100%;
  }
  .new-products .content .new-products-list li .info .params-list .params-card:nth-child(3) {
    display: none;
  }
  .new-products .content .new-products-list li .info .params-list .params-card:last-child {
    display: none;
  }
}
.new-products .content .new-products-list li .info .params-list .params-card .icon {
  flex-shrink: 0;
}
.new-products .content .new-products-list li .info .params-list .params-card .params-card-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.new-products .content .new-products-list li .info .params-list .params-card .params-card-info span {
  color: #828E96;
  font-family: "Segoe UI";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 15px */
}
.new-products .content .new-products-list li .info .params-list .params-card .params-card-info p {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 18px */
}
.new-products .content .new-products-list li .info .buttons {
  display: flex;
  gap: 30px;
}
@media (max-width: 1024px) {
  .new-products .content .new-products-list li .info .buttons {
    flex-direction: column;
  }
}
.new-products .content .new-products-list li .info .buttons .price-btn {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 7px 22px -15px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
.new-products .content .new-products-list li .info .buttons .price-btn:hover {
  background: #FF0033;
}
.new-products .content .new-products-list li .info .buttons .price-btn:hover .text {
  color: #FFFFFF;
}
.new-products .content .new-products-list li .info .buttons .price-btn .icon {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #F03;
}
.new-products .content .new-products-list li .info .buttons .price-btn .text {
  color: #18232A;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.new-products .content .new-products-list li .info .buttons .product-link {
  display: flex;
  height: 74px;
  padding: 20px;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 7px 22px -15px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .info .buttons .product-link {
    background: #FFF;
    width: fit-content;
  }
}
.new-products .content .new-products-list li .info .buttons .product-link:hover {
  background: transparent;
  box-shadow: none;
}
.new-products .content .new-products-list li .info .buttons .product-link:hover .text {
  color: #FF0033;
}
.new-products .content .new-products-list li .info .buttons .product-link:hover .icon svg path {
  fill: #FF0033;
}
.new-products .content .new-products-list li .info .buttons .product-link .text {
  color: #828E96;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .new-products .content .new-products-list li .info .buttons .product-link .text {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
